.active{
	background: blue;
}
.heading{
	background: blue;
	height: 60px;
	margin-top: -20px;
}

.pro{
	background: black;
	padding: 10px;
}

.menu{
	background: black;
	height: 800px;
}

.menu >ul>li{
	border: 1px solid #888;
	margin-left: -40px;
	padding: 15px;
}

.menu >ul>li>a{
	color: white;
	font-size: 17px;
}

.menu >ul>li>a:hover{
	text-decoration: none;
}

.menu >ul>li:hover{
	background: blue;
}
.btn-purple{
	background: #d03cf;
	
}
.cc{
	border: 1px solid;
	background: #f5f5f5;
	border-radius: 5px;
	padding: 10px;
}
.icon{
	border-radius: 100px;
	width: 100px;
	
}