/*General Settings*/
body{
	background: #fffff;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}

.slideanim {
	visibility: hidden;
}

.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

/*Navigation Bar*/
.navbar {
    margin-bottom: 0;
    background-color: #152136;
    z-index: 9999;    
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
	border-width: 100px;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: red !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fffff !important;
}

@media screen and (min-width: 768px) {
  .navbar-nav ul li a:hover{
	    background-color: black !important;
		color: white !important;
  }
}

@media screen and (min-width: 768px) {
  .navbar-nav ul li a{
	font-weight: bold; 
	font-size: 15px; 
	color: red !important;
  }
}

@media screen and (min-width: 768px) {
  .navbar-nav ul li.active a{
	    background-color: black !important;
		color: white !important;
  }
}

/*Logo Settings*/
.glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: red ;
}

.mouseOnlogo{
	margin-left: 20px;
}

.mouseOnlogo >a:hover{
	text-decoration: none;
}

.citLogo{
	margin-left: 78px; 
	color: white; 
	font-weight: bold; 
	font-size: 50px;
	font-family: forte;
}

.testBoarder{
	border: 2px solid #FF0004;
}

.titleBoarder{
	border: 2px solid #FF0004;
}












.resizeJudgeMainPage{
	height: -webkit-fill-available;
    max-height: 290px;
	max-width: 100%;
	object-fit: contain;
    object-position: center;
}


.resizeTeamMainPage{
	height: -webkit-fill-available;
    max-height: 290px;
	max-width: 100%;
	object-fit: contain;
    object-position: center;
}


.resizeWithThumbnail {
    height: 330px;
    height: -webkit-fill-available;
    max-height: 330px;
	width: 490px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    display: inline-block;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.resizeWithIndividualView {
    height: 330px;
    height: -webkit-fill-available;
    max-height: auto;
	width: 490px;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    display: inline-block;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.resizeCarouselMainPage{
    width: -webkit-fill-available;
	width: -moz-fill-available;
    max-width: fit-content;
    object-fit: cover;
    object-position: center;
}










/*Best way to handle small Screens Example1*/
.example1 {}

@media screen and (min-width: 601px) {
  .example1 {
    font-size: 18px;
	padding-top: 100px;
	padding-left: 50px;
  }
}

@media screen and (max-width: 600px) {
  .example1 {
    font-size: 14px;
	padding-top: 0px;
	padding-left: 0px;
  }
}

.example3{}

@media screen and (max-width: 600px) {
  .example3 {
    font-size: 14px;
	padding-top: 0px;
	padding-left: 0px;
  }
}
@media screen and (min-width: 601px) {
  .example3 {
    font-size: 18px;
	padding-top: 0px;
	padding-left: 50px;
  }
}

/*Best way to handle small Screens Example2*/
.example2 {}

@media screen and (min-width: 601px) {
  .example2 {
    font-size: 18px;
	padding-top: 100px;
	padding-right: 50px;
	padding-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .example2 {
    font-size: 14px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
  }
}


/*Best way to handle small Screens Example3*/
.mediaLinkContainer {}

@media screen and (min-width: 1001px) {
  .mediaLinkContainer {
	padding: 500px;
  }
}

@media screen and (max-width: 1000px) {
  .mediaLinkContainer {
	padding: 0px;
  }
}
















.voteAlignment {

}

/*Large Screen*/
@media screen and (min-width: 1001px) {
  .voteAlignment {
	padding: 100px 300px 20px 300px;
  }
}

/*Mobile Screen*/
@media screen and (max-width: 1000px) {
  .voteAlignment {
	padding: 100px 20px 20px 20px;
  }
}











p.recipesMessageLimit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 370px;
}










/*Settings of Container*/
.bg-0  { 
  background-color: #13b5c7;
  color: #FFFFFF;
}
.bg-1 { 
  background-color: #005789;
  color: #FFFFFF;
}
 .bg-2 { 
  background-color: #009dc5;
  color: #FFFFFF;
}
 .bg-3 { 
  background-color: #FFFFFF;
  color: #152136;
}
 .bg-4 { 
  background-color: #8abd24;
  color: #FFFFFF;
}
 .bg-5 { 
  background-color: #a31781;
  color: #FFFFFF;
}
 .bg-6 { 
  background-color: #5892a7;
  color: #FFFFFF;
}
 .bg-7 { 
  background-color: #80398e;
  color: #FFFFFF;
}
 .bg-8 { 
  background-color: #fbba00;
  color: black;
}
 .bg-9 { 
  background-color: #dc0d15;
  color: #FFFFFF;
}
 .bg-10 { 
  background-color: #ef7900;
  color: #FFFFFF;
}

.myContainer {
  	padding-top: 70px;
  	padding-bottom: 70px;
}





/*Footer of Page*/
.footerStyleLeft >a {
	margin-top: 10px;
	color: #BCBCBC;
	float: left;
}

.footerStyleLeft >a:hover {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

.footerStyleRight >a {
	color: #BCBCBC;
	float: right;
}

.footerStyleRight >a:hover {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

.footerBoarder {
	border-top: 1px solid black;
	background: #152136;
	padding: 20px;
}

.footerSponsorMarginRight{
	
}
@media screen and (min-width: 1001px) {
  .footerSponsorMarginRight {
	padding-right: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .footerSponsorMarginRight {
	padding-right: 0px;

  }
}

.footerSponsor center a{
	color: #BCBCBC;
}

.footerSponsor center a:hover{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}





@media (max-width: 1164px) {
        .navbar-header {
                float: none;
        }
        .navbar-toggle {
                display: block;
        }
        .navbar-collapse {
                border-top: 1px solid transparent;
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
                display: none!important;
        }
        .navbar-collapse.collapse.in {
            display: block!important;
        }
        .navbar-nav {
                float: none!important;
                margin: 7.5px -15px;
        }
        .navbar-nav>li {
                float: none;
        }
        .navbar-nav>li>a {
                padding-top: 10px;
                padding-bottom: 10px;
        }
    .navbar-form {
        padding: 10px 15px;
        margin-top: 8px;
        margin-right: -15px;
        margin-bottom: 8px;
        margin-left: -15px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
        width:auto;
        float:none!important;
    }
}

























.container-fluid {
	
}



@media screen and (min-width: 900px) {
  .container-fluid {
	padding: 0px;
  }
}

@media screen and (max-width: 901) {
  .container-fluid {
	padding: 10px;

  }
}


























































/*Slide Animation */
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
0% {
  opacity: 0;
  transform: translateY(70%);
} 
100% {
  opacity: 1;
  transform: translateY(0%);
}
}
@-webkit-keyframes slide {
0% {
  opacity: 0;
  -webkit-transform: translateY(70%);
transform: translateY(70%);
} 
100% {
  opacity: 1;
  -webkit-transform: translateY(0%);
	transform: translateY(0%);
}
}
@media screen and (max-width: 768px) {
.col-sm-4 {
  text-align: center;
  margin: 25px 0;
	padding: 0px;
}
.btn-lg {
	width: 100%;
	margin-bottom: 35px;
}
}
@media screen and (max-width: 480px) {
.logo {
	font-size: 150px;
	padding: 0px;
}
}










































.myView {}
.myimageshake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes spin { 
	0% {left:0px;
			-webkit-transform: rotate(360deg); 
			transform:rotate(360deg); 
	}
	
	10% {left:0px;
			-webkit-transform: rotate(0deg); 
			transform:rotate(0deg); 
	}
	20% {left:0px; 
			-webkit-transform: rotate(0deg); 
			transform:rotate(0deg); 			
	} 
	
	
	40% {left:0px; 
			-webkit-transform: rotate(-360deg); 
			transform:rotate(-360deg); 			
	} 
	
	60% {left:0px; 
			-webkit-transform: rotate(360deg); 
			transform:rotate(360deg); 			
	} 

	80% {left:0px; 
			-webkit-transform: rotate(0deg); 
			transform:rotate(0deg); 			
	} 
	
	100% {left:0px; 
			top: 0px;
			-webkit-transform: rotate(360deg); 
			transform:rotate(360deg); 			
	} 
}

.myimage {
    position: relative;
    width: 120px;
    height: 120px;
    -webkit-animation:spin 15s linear infinite;
    -moz-animation:spin 15s linear infinite;
    animation:spin 15s linear infinite;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px; 
    margin-left: -15px;
}

@-moz-keyframes spin { 
	0% {left:0px;
			-moz-transform: rotate(360deg); 
			transform:rotate(360deg); 
	}
	
	10% {left:0px;
			-moz-transform: rotate(0deg); 
			transform:rotate(0deg); 
	}
	20% {left:0px; 
			-moz-transform: rotate(0deg); 
			transform:rotate(0deg); 			
	} 
	
	
	40% {left:0px; 
			-moz-transform: rotate(-360deg); 
			transform:rotate(-360deg); 			
	} 
	
	60% {left:0px; 
			-moz-transform: rotate(360deg); 
			transform:rotate(360deg); 			
	} 

	80% {left:0px; 
			-moz-transform: rotate(0deg); 
			transform:rotate(0deg); 			
	} 
	
	100% {left:0px; 
			top: 0px;
			-moz-transform: rotate(360deg); 
			transform:rotate(360deg); 			
	} 
}

.row{
	margin-left: 15px;
	margin-right: 15px;
}


.container-fluid {
	padding: 0px;
}

@-webkit-keyframes spin { 
	0% {left:0px;
			-webkit-transform: rotate(360deg); 
			transform:rotate(360deg); 
	}
	
	10% {left:0px;
			-webkit-transform: rotate(0deg); 
			transform:rotate(0deg); 
	}
	20% {left:0px; 
			-webkit-transform: rotate(0deg); 
			transform:rotate(0deg); 			
	} 
	
	
	40% {left:0px; 
			-webkit-transform: rotate(-360deg); 
			transform:rotate(-360deg); 			
	} 
	
	60% {left:0px; 
			-webkit-transform: rotate(360deg); 
			transform:rotate(360deg); 			
	} 

	80% {left:0px; 
			-webkit-transform: rotate(0deg); 
			transform:rotate(0deg); 			
	} 
	
	100% {left:0px; 
			top: 0px;
			-webkit-transform: rotate(360deg); 
			transform:rotate(360deg); 			
	} 
}
@media screen and (min-width: 901px) {
  .myView {
	padding: 100px;
  }
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media screen and (max-width: 900px) {
  .myView {
	padding: 0px;
  }
}
